<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
</head>
<body>
    <header style="background-color:lightgreen">
        <a href="/">homepage</a>
        
        <a href="about">about</a>

        <a href="Check">Check</a>
        
    </header>
    <div>
        <h1>Check</h1>
    </div>
    <footer style="background-color:lightgray;">
        <h5>หากระบบมีปัญหา ติดต่อเอ็ม : 0840025461</h5>
        <a href="">facebook</a>
        <a href="">line</a>
        <a href="">tel</a>
    </footer>
</body>
</html>